.MainApp {
  text-align: center;
}

.MainApp-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .MainApp-logo {
    animation: Logo-spin infinite 15s linear;
  }
}

.MainApp-header {
  background-color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #f9fafb;
}

.MainApp-link {
  color: #4fd1c5;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
